/node_modules
*.ts
/venv

*.pyc
*.csv
*.json
*.pyc
*.log
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.log
backend/src/camera/__pycache__/shared_camera.cpython-310.pyc
*.log

/backend/src/__pycache__
/backend/src/__pycache__
/backend/src/routes/__pycache__
/backend/src/tts/__pycache__
/backend/src/routes/__pycache__
backend/src/routes/__pycache__/preview.cpython-310.pyc
backend/src/tts/__pycache__/tts_engine.cpython-310.pyc
backend/src/tts/__pycache__/tts_engine.cpython-310.pyc

